{
	"plugins": [],
	"presets": [
		["@babel/preset-react", {
		  "runtime": "classic",
		  "development": true,
		  "throwIfNamespace": true,
          "pragma": "React.createElement",
          "pragmaFrag": "React.Fragment"
        }]
      }
	]
}
