{
	"env": {
		"browser": true,
		"node": true,
		"es2020": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 11,
		"sourceType": "module",
		"ecmaFeatures": {
            "jsx": true
        }
	},
	"plugins": [
		"react"
	],
	"globals": {
		"player": true,
		"getDefaultData": true,
		"getLimit": true,
		"zero": true,
		"infinity": true,
		"isotopes": true,

		"notation": true,
		"formatTime": true,
		"simulateTime": true,
		"showNaviTab": true,
		"targetedNotationChange": true,
		"targetedThemeChange": true,

		"preLoad": true,
		"loadSave": true,
		"postLoad": true,
		"saveGame": true,
		"getSaveString": true,
		"getSave": true,

		"activeCoils": true,
		"rotors": true,
		"coils": true,

		"pow": true,
		"sqrt": true,
		"log": true,
		"round": true,
		"floor": true,
		"ceil": true,
		"min": true,
		"max": true,

		"React": true,
		"ReactDOM": true,
        "ReactStateComponent": true,

		"Decimal": true,
		"LZString": true,
		"Mousetrap": true,
		"ADNotations": true,
		"ADCommunityNotations": true,
		"copyToClipboard": true,
		"copyStringToClipboard": true,

		"GenericProducer": true,
		"GenericEnergyProducer": true,
		"GenericAutomation": true,
		"GenericIntervalAutomation": true,
		"GenericActionAutomation": true,
		"GenericIntervalActionAutomation": true,
		"GenericUpgrade": true,

		"TRISOFuel": true,
		"Mines": true,
		"PebblebedFissionReactor": true,
		"NaniteUpgrade": true,
		"TurbineNaniteUpgrade": true,
		"MeltdownUpgrade": true,

		"getTotalNaniteUpMult": true,
		"getTotalMeltdownUpMult": true,
		"checkAchievementCompletion": true,

		"resetEnergy": true,
		"resetTRISOFuel": true,
		"resetMines": true,
		"resetPebblebedReactors": true,
		"resetNucleosynthesis": true,
		"resetNaniteResearch": true,
		"resetNaniteUps": true,
		"resetMeltdown": true,
		"resetMeltdownUps": true,

		"simulateTRISOFuel": true,
		"simulateMines": true,
		"simulatePebblebedReactors": true,
		"simulateMeltdown": true,

		"updateUIEnergy": true,
		"updateUINucleosynthesis": true,
		"updateUINaniteResearch": true,
		"updateUINaniteUps": true,
		"updateUIMeltdown": true,
		"updateUIMeltdownUps": true,
		"updateUIDecayHastening": true,
		"updateUIHowToPlay": true
	},
	"rules": {
		"array-bracket-newline": [
			"warn",
			"consistent"
		],
		"constructor-super": "error",
		"default-case": "error",
		"eol-last": [
			"error",
			"always"
		],
		"getter-return": "error",
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"no-compare-neg-zero": "warn",
		"no-else-return": [
			"warn",
			{
				"allowElseIf": true
			}
		],
		"no-dupe-args": "warn",
        "no-dupe-class-members": "warn",
        "no-dupe-else-if": "warn",
        "no-dupe-keys": "warn",
        "no-duplicate-case": "warn",
		"no-empty": "warn",
        "no-empty-character-class": "warn",
        "no-empty-pattern": "warn",
        "no-ex-assign": "warn",
		"no-extra-boolean-cast": "warn",
		"no-extra-semi": "warn",
		"no-invalid-regexp": "error",
        "no-irregular-whitespace": "warn",
		"no-mixed-spaces-and-tabs": "warn",
		"no-redeclare": "warn",
		"no-regex-spaces": "warn",
		"no-self-assign": "warn",
        "no-setter-return": "warn",
		"no-this-before-super": "warn",
		"no-undef": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"no-useless-catch": "warn",
		"quotes": [
			"error",
			"double"
		],
		"semi": [
			"error",
			"always"
		],
		"use-isnan": "error",
		"valid-typeof": "error",
		"react/jsx-curly-spacing": [
			"warn",
			{
				"when": "never"
			}
		],
		"react/jsx-filename-extension": [
			"error",
			{
				"extensions": [".jsx"]
			}
		],
		"react/jsx-uses-vars": "error",
		"react/no-adjacent-inline-elements": "error",
		"react/no-direct-mutation-state": "error",
		"react/no-typos": "error",
		"react/no-unescaped-entities": "error",
		"react/no-unused-state": "warn",
		"react/prefer-es6-class": [
			"warn",
			"always"
		],
		"react/prefer-read-only-props": "warn"
	}
}
