body {
	background-color: #1C1C1C;
	color: #D0D0D0;
}

button {
	transition: all 0.5s;
}
button:hover {
	border-color: #F4D258;
	box-shadow: 0 0 8px 1px #F4D258;
}

.navigation > button {
	background-color: #1C1C1C;
	border-color: #2828BF;
	color: #D0D0D0;
}

.subtab > button {
	background-color: #101010;
	border-color: #DFDFDF;
	color: #D0D0D0;
}

.popup {
	background-color: #455A64;
	border: 3px solid #FFFFFF;
	border-radius: 6px;
	color: #D0D0D0;
	display: none;
	padding: 10px 10px 15px;
}

.newsbar {
	border: 3px solid #D0D0D0;
	border-radius: 4px;
}
.newsbar > div {
	color: #D0D0D0;
}

.navigation > div > a > svg {
	fill: #D0D0D0;
	stroke: #D0D0D0;
}

.navigation > div > .dropdown {
	background-color: #242526;
	border: 2px solid #474A4D;
	border-radius: 8px;
}

.navigation > div > .dropdown > div > a {
	border: 1px solid #4A5967;
	color: #E0E0E0;
	text-decoration: none;
}
.navigation > div > .dropdown > div > a > span > svg {
	fill: #D0D0D0;
	stroke: #D0D0D0;
}

.energy {
	color: #D0D0D0;
}
.energypersecond {
	color: #D0D0D0;
}

.storebtn {
	border-radius: 2px;
}
.storebtn.buy {
	background-color: #1C1C1C;
	border: 2px solid #127A20;
	color: #D0D0D0;
}
.storebtn.locked {
	background-color: #37474F;
	border: 2px solid #E53935;
	color: #D0D0D0;
}

.allocationbtn {
	background-color: #344445;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}
.allocationbar {
	background-color: #34D846;
	border: 4px solid #000000;
	border-radius: 8px;
}
.allocationbar.legend {
	color: #FFFFFF;
}
.allocationbarcontents {
	background-color: #B2C376;
	border-radius: 4px;
}
.allocationbarcontents.legend {
	border: 4px solid #000000;
	border-radius: 8px;
	color: #FFFFFF;
}

.trisodiv, .pebblebeddiv {
	background-color: #223344 !important;
	border: 2px solid #000000 !important;
}

.trisodiv > .title, .pebblebeddiv > .title {
	background-color: #14213D !important;
}

.trisodiv > .title > .type, .pebblebeddiv > .title > .type {
	color: #C5861E !important;
}
.trisodiv > .title > .info, .pebblebeddiv > .title > .info {
	background-color: #C5861E !important;
	color: #14213D !important;
}

.trisodiv > .body > .reprocess > button > div {
	background-color: #00FF00;
	opacity: 0.3;
}

.trisodiv > .fuelbar > div > div, .pebblebeddiv > .fuelbar > div > div {
	background-color: #000000 !important;
}
.trisodiv > .fuelbar > div > div > div, .pebblebeddiv > .fuelbar > div > div > div {
	background-color: #A5A5A5 !important;
}
.trisodiv > .fuelbar > div > div > div > div, .pebblebeddiv > .fuelbar > div > div > div > div {
	background-color: #BB210D !important;
}
.trisodiv > .fuelbar > div > div > div > div > div, .pebblebeddiv > .fuelbar > div > div > div > div > div {
	background-color: #8BC152 !important;
}

.trisobtn.buy, .pebblebedbtn.buy {
	background-color: #B5B5B5 !important;
	border: 2px solid #8BC152 !important;
	color: #000000 !important;
}
.trisobtn.locked, .pebblebedbtn.locked {
	background-color: #515151 !important;
	border: 2px solid #BB210D !important;
	color: #000000 !important;
}

.fuelhandlingautomationdiv {
	background: #221133;
	border: 3px solid #000000;
}

.fuelhandlingautomationdiv > div > div > .cooldown {
	background-color: #000000;
	border: 2px solid #000000;
}
.fuelhandlingautomationdiv > div > div > .cooldown > div {
	background-color: #FFFFFF;
}

.fuelhandlingautomationdiv > div > div > div > button {
	background-color: #34B191;
	border: 2px solid #000000;
	border-bottom-color: #111111;
	color: #DDDDDD;
}
.fuelhandlingautomationdiv > div > div > div > .active {
	background-color: #005522;
}
.fuelhandlingautomationdiv > div > div > div > .inactive {
	background-color: #332F40;
}

.options > div > button {
	background-color: #455A64;
	border: 2px solid #E8E8E8;
	border-radius: 2px;
	color: #D0D0D0;
}

.prestigebtn {
	background-color: #202532;
	border: 2px solid #88FF10;
	color: #88FF10;
}

.naniteup {
	border-radius: 4px;
}
.naniteup.buy {
	background-color: #000000;
	border: 1px solid #DAA520;
	color: #81A6FF;
}
.naniteup.locked {
	background-color: #505050;
	border: 1px solid #FFFFFF;
	color: #D0D0D0;
}
.naniteup.bought {
	background-color: #81A6FF;
	border: 1px solid #008000;
	color: #000000;
}

#meltdown {
	background-color: #1C1C1C;
	border: 2px solid #008000;
	border-radius: 6px;
	color: #D0D0D0;
}

.meltdownup {
	border-radius: 3px;
}
.meltdownup.buy {
	background-color: #000000;
	border: 3px solid #DAA520;
	color: #FFFFFF;
}
.meltdownup.locked {
	background-color: #555555;
	border: 3px solid #FF0000;
	color: #000000;
}
.meltdownup.bought {
	background-color: #44CC66;
	border: 3px solid #DAA520;
	color: #000000;
}
