/* CodedSakura was here Jun 2020 */

body {
	color: #d0d0d0;
	background-color:#1c1c1c;
}

.navigation > button {
	color: #d0d0d0;
	background-color: #1c1c1c;
	border-color: #2828bf;
}
.navigation > button:hover {}
.navigation > button:active {}
.navigation > button.navigation--nanite {}
.navigation > button.navigation--nanite:hover {}
.navigation > button.navigation--active {}

button:hover {
	border-color: #f4d258;
	box-shadow: 0 0 8px 1px #f4d258;
}

.subtab > button {
	color: #d0d0d0;
	background-color: #101010;
	border-color: #dfdfdf;
}
.subtab > button:hover {}
.subtab > button:active {}
.subtab > button.navigation--active {}

.achcomplete {
	background-color: #008000;
	border: 1px solid #004400;
}
.achlocked {
	background-color: #808080;
	border: 1px solid red;
}

.popup {
	color: #d0d0d0;
	background-color: #455a64;
	border: 3px solid #ffffff;
	border-radius: 6px;
	display: none;
	padding: 10px 10px 15px;
}

.newsbar {
	border: 3px solid #d0d0d0;
	border-radius: 4px;
}
.newsbar > div {
	color: #d0d0d0;
}

.optionsbtn {
	color: #d0d0d0;
	background-color: #455a64;
	border: 2px solid #e8e8e8;
	border-radius: 2px;
}
.optionsbtn:hover {}

.energy {
	color: #d0d0d0;
	font-size: 25px;
}
.energypersecond {
	color: #d0d0d0;
	font-size: 20px;
}

.storebtn {
	font-size: 12px;
	border-radius: 2px;
}
.storebtn.buy {
	color: #d0d0d0;
	background-color: #1c1c1c;
	border: 2px solid #127A20;
}
.storebtn.buy:hover {}
.storebtn.locked {
	color: #d0d0d0;
	background-color: #37474f;
	border: 2px solid #e53935;
}
.storebtn.locked:hover {}

.storebtn.mines {}
.storebtn.mines {}

.storebtn.reactors {}
.storebtn.reactors {}

.naniteup {
	border-radius: 4px;
}
.naniteup.buy {
	color: #81a6ff;
	background-color: #000000;
	border: 1px solid #DAA520;
}
.naniteup.buy:hover {}
.naniteup.locked {
	color: #d0d0d0;
	background-color: #505050;
	border: 1px solid white;
}
.naniteup.bought {
	color: #000000;
	background-color: #81a6ff;
	border: 1px solid green;
}

#meltdown {
	color: #d0d0d0;
	background-color: #1c1c1c;
	border: 2px solid green;
	border-radius: 6px;
}
#meltdown:hover {}

.meltdownup {
	border-radius: 3px;
}
.meltdownup.buy {
	color: #ffffff;
	background-color: #000000;
	border: 3px solid #daa520;
}
.meltdownup.buy:hover {}
.meltdownup.locked {
	color: #000000;
	background-color: #555555;
	border: 3px solid #ff0000;
}
.meltdownup.bought {
	color: #000000;
	background-color: #44CC66;
	border: 3px solid #daa520;
}
