body {
	color: #d0d0d0;
	background-color:#1c1c1c;
	font-size: 15px;
	overflow-x: hidden;
}

button {
	transition: all 0.5s;
}
button:hover {
	border-color: #f4d258;
	box-shadow: 0px 0px 8px 1px #f4d258;
}

.navitabbtn {
	color: #d0d0d0;
	background-color: #1c1c1c;
	border: 2px solid #2828bf;
	border-radius: 4px;
}
.navitabbtn:hover {
}

.subtabbtn {
	color: #d0d0d0;
	background-color: #101010;
	border: 2px solid #dfdfdf;
	border-radius: 4px;
}
.subtabbtn:hover {
}

.popup {
	color: #d0d0d0;
	background-color: #455a64;
	border: 3px solid #ffffff;
	border-radius: 6px;
}
#newsbar {
	border: 3px solid #d0d0d0;
	border-radius: 4px;
}
#news {
	color: #d0d0d0;
}

.optionsbtn {
	color: #d0d0d0;
	background-color: #455a64;
	border: 2px solid #e8e8e8;
	border-radius: 2px;
}

.energy {
	color: #d0d0d0;
}
.energypersecond {
	color: #d0d0d0;
}

.storebtn {
	border-radius: 2px;
}
.storebtn.buy {
	color: #d0d0d0;
	background-color: #1c1c1c;
	border: 2px solid #127A20;
}
.storebtn.buy:hover {
}
.storebtn.locked {
	color: #d0d0d0;
	background-color: #37474f;
	border: 2px solid #e53935;
}
.storebtn.locked:hover {
}

.storebtn.mines {
}
.storebtn.mines {
}

.storebtn.reactors {
}
.storebtn.reactors {
}

.naniteup {
	font-size: 15px;
	border-radius: 4px;
}
.naniteup.buy {
	color: #81a6ff;
	background-color: #000000;
	border: 1px solid #DAA520;
}
.naniteup.locked {
	color: #d0d0d0;
	background-color: #505050;
	border: 1px solid white;
}
.naniteup.bought {
	color: #000000;
	background-color: #81a6ff;
	border: 1px solid green;
}

#meltdown {
	color: #d0d0d0;
	background-color: #1c1c1c;
	border: 2px solid green;
	border-radius: 6px;
}
#meltdown:hover {
}

.meltdownup {
	border-radius: 3px;
}
.meltdownup.buy {
	color: #ffffff;
	background-color: #000000;
	border: 3px solid #daa520;
}
.meltdownup.buy:hover {
}
.meltdownup.locked {
	color: #000000;
	background-color: #555555;
	border: 3px solid #ff0000;
}
.meltdownupbought {
	color: #000000;
	background-color: #44CC66;
	border: 3px solid #daa520;
}
