body {
	color: #d0d0d0;
	font-size: 15px;
	background-color:#1c1c1c;
	overflow-x: hidden;
}
table {
	width: 100vw;
	margin: 0;
	padding: 0;
}
button {
	transition: all 0.5s;
}
button:hover {
	border-color: #f4d258;
	box-shadow: 0px 0px 8px #f4d258;
}
.navibtn {
	width: 180px;
	height: 40px;
	font-size: 20px;
	color: #d0d0d0;
	background: #1c1c1c;
	border: 2px solid #2828bf;
	border-radius: 4px;
}

.prodbtn {
	width: 150px;
	height: 30px;
	font-size: 16px;
	color: #d0d0d0;
	background: #101010;
	border: 2px solid #dfdfdf;
	border-radius: 4px;
}

.achpic {
	width: 100px;
	height: 100px;
	opacity: 0.7;
}
.achcomplete {
	width: 100px;
	height: 100px;
	margin: 100px;
	border: 1px solid #004400;
	background: #008000;
}
.achlocked {
	width: 100px;
	height: 100px;
	margin: 100px;
	border: 1px solid red;
	background: #808080;
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #d0d0d0;
	background: #455a64;
	border: 3px solid #ffffff;
	border-radius: 6px;
	text-align:center;
	z-index: 2;
	padding: 10px;
	padding-bottom: 15px;
}
#newsb {
	width: 80%;
	height: 20px;
	border: 3px solid #d0d0d0;
	border-radius: 4px;
	padding: 2px;
	overflow: hidden;
	margin: auto;
	text-align: left;
}
#news {
	color: #d0d0d0;
	position: relative;
	display: inline-block;
	white-space: nowrap;
}

.optionsbtn {
	width: 200px;
	height: 55px;
	font-size: 20px;
	color: #d0d0d0;
	background: #455a64;
	border: 2px solid #e8e8e8;
	border-radius: 2px;
}

.energy {
	color: #d0d0d0;
	font-size: 25px;
}
.energypersecond {
	color: #d0d0d0;
	font-size:20px;
}

.btnbuy {
	font-size: 12px;
	color: #d0d0d0;
	background: #1c1c1c;
	border: 2px solid #127A20;
	border-radius: 2px;
}
.btnlocked {
	font-size: 12px;
	color: #d0d0d0;
	background: #37474f;
	border: 2px solid #e53935;
	border-radius: 2px;
}

.naniteupbuy {
	font-size: 10px;
	border: 1px solid #DAA520;
	border-radius: 4px;
	color: #81a6ff;
	background: #000000;
}
.naniteuplocked {
	font-size: 10px;
	border: 1px solid white;
	border-radius: 4px;
	color: #d0d0d0;
	background: #505050;
}
.naniteupbought {
	font-size: 10px;
	border: 1px solid green;
	border-radius: 4px;
	color: #000000;
	background: #81a6ff;
}

.meltdownbtn {
	width: 210px;
	height: 70px;
	font-size: 10px;
	border: 2px solid green;
	border-radius: 6px;
	color: #d0d0d0;
	background: #1c1c1c;
}

.meltdownupbuy {
	width: 20%;
	height: 150px;
	border: 3px solid #daa520;
	background-color: #000000;
	color: #ffffff;
	border-radius: 3px;
	font-weight: bold;
}
.meltdownuplocked {
	width: 20%;
	height: 150px;
	border: 3px solid #ff0000;
	background-color: #555555;
	color: #000000;
	border-radius: 3px;
}
.meltdownupbought {
	width: 20%;
	height: 150px;
	border: 3px solid #daa520;
	background-color: #44CC66;
	color: #000000;
	border-radius: 3px;
	font-weight: bold;
}