/* CodedSakura was here Jun 2020 */

body {
	color: #dfdfdf;
	background-color:#000000;
}

.navigation > button {
	color: #dfdfdf;
	background-color: #000000;
	border-color: white;
}
.navigation > button:hover {}
.navigation > button:active {}
.navigation > button.navigation--nanite {}
.navigation > button.navigation--nanite:hover {}
.navigation > button.navigation--active {}

button:hover {
	border-color: #0b2da7;
	box-shadow: 0 0 8px 1px #0b2da7;
}

.subtab > button {
	color: #efefef;
	background-color: #101010;
	border-color:#efefef;
}
.subtab > button:hover {}
.subtab > button:active {}
.subtab > button.navigation--active {}

.achcomplete {
	background-color: #ff7fff;
	border: 1px solid #ffbbff;
}
.achlocked {
	background-color: #7f7f7f;
	border: 1px solid #00ffff;
}

.popup {
	color: #202020;
	background-color: #000000;
	border: 3px solid #ffffff;
	border-radius: 6px;
	padding: 10px 10px 15px;
}

.newsbar {
	border: 3px solid #ffffff;
	border-radius: 4px;
}
.newsbar > div {
	color: #ffffff;
}

.optionsbtn {
	color: #ffffff;
	background-color: #010101;
	border: 2px solid #e7e7e7;
	border-radius: 2px;
}
.optionsbtn:hover {
	background-color: #0101ff;
}

.energy {
	color: #ffffff;
	font-size: 25px;
}
.energypersecond {
	color: #cfcfcf;
	font-size:20px;
}

.storebtn {
	font-size: 12px;
	border-radius: 2px;
}
.storebtn.buy {
	color: #dfdfdf;
	background-color: #000000;
	border: 2px solid #ed85df;
}
.storebtn.buy:hover {}
.storebtn.locked {
	color: #dfdfdf;
	background-color: #5c5c5c;
	border: 2px solid #1ac6ca;
}
.storebtn.locked:hover {}

.storebtn.mines {}
.storebtn.mines {}

.storebtn.reactors {}
.storebtn.reactors {}

.naniteup {
	border-radius: 4px;
}
.naniteup.buy {
	color: #cfcfcf;
	background-color: #000000;
	border: 1px solid #255adf;
}
.naniteup.buy:hover {}
.naniteup.locked {
	color: #cfcfcf;
	background-color: #5c5c5c;
	border: 1px solid;
}
.naniteup.bought {
	color: #ffffff;
	background-color: #3f3f3f;
	border: 1px solid #ff7fff;
}

#meltdown {
	color: #ffffff;
	background-color: #000000;
	border: 2px solid #ff7fff;
	border-radius: 6px;
}
#meltdown:hover {}

.meltdownup {
	border-radius: 3px;
}
.meltdownup.buy {
	color: #000000;
	background-color: #ffffff;
	border: 3px solid #255adf;
}
.meltdownup.buy:hover {}
.meltdownup.locked {
	color: #ffffff;
	background-color: #aaaaaa;
	border: 3px solid #00ffff;
}
.meltdownup.bought {
	color: #ffffff;
	background-color: #bb3399;
	border: 3px solid #255adf;
}
