body {
	color: #dfdfdf;
	font-size: 15px;
	background-color:#000000;
	overflow-x: hidden;
}
table {
	width: 100vw;
	margin: 0;
	padding: 0;
}
button {
	transition: all 0.5s;
}
button:hover {
	border-color: #0b2da7;
	box-shadow: 0px 0px 8px #0b2da7;
}
.navibtn {
	width: 180px;
	height: 40px;
	font-size: 20px;
	color: #dfdfdf;
	background: #000000;
	border: 2px solid white;
	border-radius: 4px;
}

.prodbtn {
	width: 150px;
	height: 30px;
	font-size: 16px;
	color: #efefef;
	background: #101010;
	border: 2px solid #efefef;
	border-radius: 4px;
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #202020;
    background: #000000;
    border: 3px solid white;
    border-radius: 6px;
    text-align:center;
    z-index: 2;
    padding: 10px;
    padding-bottom: 15px;
}

.optionsbtn {
	width: 200px;
	height: 55px;
	font-size: 20px;
	color: #ffffff;
	background: #010101;
	border: 2px solid #e7e7e7;
	border-radius: 2px;
}
.optionsbtn:hover {
	background: #0101ff;
}

.energy {
	color: #ffffff;
	font-size: 25px;
}
.energypersecond {
	color: #cfcfcf;
	font-size:20px;
}

.btnbuy {
	font-size: 12px;
	color: #dfdfdf;
	background: #000000;
	border: 2px solid #ed85df;
	border-radius: 2px;
}
.btnlocked {
	font-size: 12px;
	color: #dfdfdf;
	background: #5c5c5c;
	border: 2px solid #1ac6ca;
	border-radius: 2px;
}

.naniteupgbtnbuy {
	font-size: 10px;
	border: 1px solid #255adf;
	border-radius: 4px;
	color: #cfcfcf;
	background: #000000;
}
.naniteupgbtnlocked {
	font-size: 10px;
	border: 1px solid;
	border-radius: 4px;
	color: #cfcfcf;
	background: #5c5c5c;
}
.naniteupgbtnbought {
	font-size: 10px;
	border: 1px solid #ff7fff;
	border-radius: 4px;
	color: #ffffff;
	background: #3f3f3f;
}

.meltdownbtn {
	width: 210px;
	height: 70px;
	font-size: 10px;
	border: 2px solid #ff7fff;
	border-radius: 6px;
	color: #ffffff;
	background: #000000;
}
