body {
	background-color: #000000;
	color: #DFDFDF;
}

button {
	transition: all 0.5s;
}
button:hover {
	border-color: #0B2DA7;
	box-shadow: 0 0 8px 1px #0B2DA7;
}

.navigation > button {
	background-color: #000000;
	border-color: #FFFFFF;
	color: #DFDFDF;
}

.subtab > button {
	background-color: #101010;
	border-color:#efefef;
	color: #efefef;
}

.popup {
	background-color: #000000;
	border: 3px solid #FFFFFF;
	border-radius: 6px;
	color: #202020;
	padding: 10px 10px 15px;
}

.newsbar {
	border: 3px solid #FFFFFF;
	border-radius: 4px;
}
.newsbar > div {
	color: #FFFFFF;
}

.energy {
	color: #FFFFFF;
}
.energypersecond {
	color: #CFCFCF;
}

.storebtn {
	border-radius: 2px;
}
.storebtn.buy {
	background-color: #000000;
	border: 2px solid #ED85DF;
	color: #DFDFDF;
}
.storebtn.locked {
	background-color: #5C5C5C;
	border: 2px solid #1AC6CA;
	color: #DFDFDF;
}

.allocationbtn {
	background-color: #000000;
	border: 2px solid #FFFFFF;
}
.allocationbar {
	background-color: #34D846;
	border: 4px solid #FFFFFF;
	border-radius: 8px;
}
.allocationbar.legend {
	color: #FFFFFF;
}
.allocationbarcontents {
	background-color: #4D3C89;
	border-radius: 4px;
}
.allocationbarcontents.legend {
	border: 4px solid #FFFFFF;
	border-radius: 8px;
	color: #FFFFFF;
}

.trisodiv > .body > .reprocess > button > div {
	background-color: rgba(255, 0, 255, 0.3);
}

.achcomplete {
	background-color: #FF7FFF;
	border: 1px solid #FFBBFF;
}
.achlocked {
	background-color: #7f7f7f;
	border: 1px solid #00FFFF;
}

.options > div > button {
	background-color: #010101;
	border: 2px solid #E7E7E7;
	border-radius: 2px;
	color: #FFFFFF;
}
.options > div > button:hover {
	background-color: #0101FF;
}


.naniteup {
	border-radius: 4px;
}
.naniteup.buy {
	background-color: #000000;
	border: 1px solid #255ADF;
	color: #CFCFCF;
}
.naniteup.locked {
	background-color: #5C5C5C;
	border: 1px solid;
	color: #CFCFCF;
}
.naniteup.bought {
	background-color: #3F3F3F;
	border: 1px solid #FF7FFF;
	color: #FFFFFF;
}

#meltdown {
	background-color: #000000;
	border: 2px solid #FF7FFF;
	border-radius: 6px;
	color: #FFFFFF;
}

.meltdownup {
	border-radius: 3px;
}
.meltdownup.buy {
	background-color: #FFFFFF;
	border: 3px solid #255ADF;
	color: #000000;
}
.meltdownup.locked {
	background-color: #AAAAAA;
	border: 3px solid #00FFFF;
	color: #FFFFFF;
}
.meltdownup.bought {
	background-color: #BB3399;
	border: 3px solid #255ADF;
	color: #FFFFFF;
}
