body {
	color: #202020;
	font-size: 15px;
	background-color:#ffffff;
	overflow-x: hidden;
}
table {
	width: 100vw;
	margin: 0;
	padding: 0;
}

.navibtn {
	width: 180px;
	height: 40px;
	font-size: 20px;
	color: #202020;
	background: #ffffff;
	border: 2px solid #000000;
	border-radius: 4px;
}

.navibtn:hover {
	transition-duration: 0.2s;
	background: #aaaaaa;
	color: #ffffff;
}

.prodbtn {
	width: 150px;
	height: 30px;
	font-size: 16px;
	color: #101010;
	background: #efefef;
	border: 2px solid #101010;
	border-radius: 4px;
}

.prodbtn:hover {
	transition-duration: 0.2s;
	background: #aaaaaa;
	color: #ffffff;
}

.achpic {
	width: 100px;
	height: 100px;
	opacity: 0.7;
}

.achcomplete {
	width: 100px;
	height: 100px;
	margin: 100px;
	border: 1px solid #004400;
	background: #008000;
}
.achlocked {
	width: 100px;
	height: 100px;
	margin: 100px;
	border: 1px solid red;
	background: #808080;
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #202020;
	background: #ffffff;
	border: 3px solid #000000;
	border-radius: 6px;
	text-align:center;
	z-index: 2;
	padding: 10px;
	padding-bottom: 15px;
}

#nanitebtn {
	border: 2px solid #020724;
	background: #0887cc;
	color: #020724;
}

#nanitebtn:hover {
	transition-duration: 0.2s;
	background: #020724;
	color: #ffffff;
}

#newsb {
	width: 75%;
	height: 20px;
	border: 3px solid #000000;
	border-radius: 4px;
	padding: 2px;
	overflow: hidden;
	margin: auto;
	text-align: left;
}
#news {
	color: #000000;
	position: relative;
	display: inline-block;
	white-space: nowrap;
}

.optionsbtn {
	width: 200px;
	height: 55px;
	font-size: 20px;
	color: #000000;
	background: #fefefe;
	border: 2px solid #181818;
	border-radius: 2px;
}
.optionsbtn:hover {
	background: #fefe00;
}

.energy {
	color: #000000;
	font-size: 25px;
}
.energypersecond {
	color: #303030;
	font-size:20px;
}

.btnbuy {
	font-size: 12px;
	color: #202020;
	background: #ffffff;
	border: 2px solid #127A20;
	border-radius: 2px;
}
.btnlocked {
	font-size: 12px;
	color: #202020;
	background: #a3a3a3;
	border: 2px solid #e53935;
	border-radius: 2px;
}

.btnbuy:hover {
	transition-duration: 0.2s;
	background: #10c921;
	color: #ffffff;
}

.naniteupbuy {
	font-size: 10px;
	border: 1px solid #DAA520;
	border-radius: 4px;
	color: #81a6ff;
	background: #ffffff;
}
.naniteuplocked {
	font-size: 10px;
	border: 1px solid;
	border-radius: 4px;
	color: #303030;
	background: #a3a3a3;
}
.naniteupbought {
	font-size: 10px;
	border: 1px solid green;
	border-radius: 4px;
	color: #000000;
	background: #81a6ff;
}

.naniteupbuy:hover {
	color: #2d3b5c;
	background: #81a6ff;
}

.meltdownbtn {
	width: 210px;
	height: 70px;
	font-size: 10px;
	border: 2px solid green;
	border-radius: 6px;
	color: #000000;
	background: #ffffff;
}

.meltdownupbuy {
	width: 20%;
	height: 150px;
	border: 3px solid #daa520;
	background-color: #000000;
	color: #ffffff;
	border-radius: 3px;
	font-weight: bold;
}
.meltdownuplocked {
	width: 20%;
	height: 150px;
	border: 3px solid #ff0000;
	background-color: #555555;
	color: #000000;
	border-radius: 3px;
}
.meltdownupbought {
	width: 20%;
	height: 150px;
	border: 3px solid #daa520;
	background-color: #44cc66;
	color: #000000;
	border-radius: 3px;
	font-weight: bold;
}
