body {
	color: #202020;
	background-color:#ffffff;
	font-size: 15px;
	overflow-x: hidden;
}
table {
	width: 100vw;
	margin: 0;
	padding: 0;
}
button {
	transition: all 0.5s;
}

button:hover {
	cursor: pointer;
	border-color: #f4d258;
	box-shadow: 0px 0px 8px 1px #f4d258;
}

.navitabbtn {
	width: 180px;
	height: 40px;
	font-size: 20px;
	color: #202020;
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 4px;
}

.navitabbtn:hover {
	color: #ffffff;
	background-color: #aaaaaa;
	transition-duration: 0.2s;
}

/* When player clicks on a tab */
.navitabbtn:active {
	color: #aaaaaa;
	background-color: #ffffff;
	transition-duration: 0.1s;
}

/* When player is in a tab */
.navitabbtn.active {
	color: #ffffff;
	background-color: #202020;
}

.navitabbtn.nanite {
	color: ##4848ef;
	background-color: #0887cc;
	border: 2px solid #020724;
}
.navitabbtn.nanite:hover {
	color: #4848ef;
	background-color: #020724;
	transition-duration: 0.2s;
}

.subtabbtn {
	width: 150px;
	height: 30px;
	color: #101010;
	background-color: #efefef;
	font-size: 16px;
	border: 2px solid #101010;
	border-radius: 4px;
}

.subtabbtn:hover {
	color: #ffffff;
	background-color: #aaaaaa;
	transition-duration: 0.2s;
}

/* When player clicks on a subtab */
.subtabbtn:active {
	color: #aaaaaa;
	background-color: #ffffff;
	transition-duration: 0.1s;
}

/* When player is in a subtab */
.subtabbtn.active {
	color: #efefef;
	background-color: #101010;
}

.achpic {
	width: 100px;
	height: 100px;
	opacity: 0.7;
}
.achcomplete {
	width: 12.5vw;
	height: 100px;
	background-color: #008000;
	border: 1px solid #004400;
	margin: 100px;
}
.achlocked {
	width: 12.5vw;
	height: 100px;
	background-color: #808080;
	border: 1px solid red;
	margin: 100px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	color: #202020;
	background-color: #ffffff;
	border: 3px solid #000000;
	border-radius: 6px;
	display: flex;
	align-items: center;
	text-align:center;
	padding: 10px;
	padding-bottom: 15px;
	transform: translateX(-50%) translateY(-50%);
	z-index: 3;
}

#newsbar {
	width: 75%;
	height: 20px;
	border: 3px solid #000000;
	border-radius: 4px;
	padding: 2px;
	overflow: hidden;
	margin: auto;
	text-align: left;
}
#news {
	position: relative;
	color: #000000;
	display: inline-block;
	white-space: nowrap;
}

.optionsbtn {
	width: 200px;
	height: 55px;
	color: #000000;
	background-color: #fefefe;
	font-size: 20px;
	border: 2px solid #181818;
	border-radius: 2px;
}

.energy {
	color: #000000;
	font-size: 25px;
}
.energypersecond {
	color: #303030;
	font-size: 20px;
}

.storebtn {
	font-size: 12px;
	border-radius: 2px;
}
.storebtn.buy {
	color: #202020;
	background-color: #ffffff;
	border: 2px solid #127A20;
}
.storebtn.buy:hover {
	color: #ffffff;
	transition-duration: 0.2s;
	background-color: #10c921;
}
.storebtn.locked {
	color: #202020;
	font-size: 12px;
	background-color: #a3a3a3;
	border: 2px solid #e53935;
	border-radius: 2px;
}
.storebtn.locked:hover {
}

.storebtn.mines {
}
.storebtn.mines {
}

.storebtn.reactors {
}
.storebtn.reactors {
}

.naniteup {
	width: 300px;
	height: 150px;
	font-size: 15px;
	border-radius: 4px;
}
.naniteup.buy {
	color: #81a6ff;
	background-color: #ffffff;
	border: 1px solid #DAA520;
}
.naniteup.buy:hover {
	color: #2d3b5c;
	background-color: #81a6ff;
	transition-duration: 0.2s;
}
.naniteup.locked {
	color: #303030;
	background-color: #a3a3a3;
	border: 1px solid;
}
.naniteup.bought {
	color: #000000;
	background-color: #81a6ff;
	border: 1px solid green;
}

#meltdown {
	width: 210px;
	height: 70px;
	color: #000000;
	background-color: #ffffff;
	font-size: 10px;
	border: 2px solid green;
	border-radius: 6px;
}
#meltdown:hover {
	color: #000000;
	background-color: green;
	border: 2px solid #000000;
	transition-duration: 0.2s;
}

.meltdownup {
	width: 100%;
	height: 150px;
	border-radius: 3px;
}
.meltdownup.buy {
	color: #ffffff;
	background-color: #000000;
	border: 3px solid #daa520;
}
.meltdownup.buy:hover {
	color: #000000;
	background-color: green;
	border: 2px solid #000000;
	transition-duration: 0.2s;
}
.meltdownup.locked {
	color: #000000;
	background-color: #555555;
	border: 3px solid #ff0000;
}
.meltdownup.bought {
	color: #000000;
	background-color: #44cc66;
	border: 3px solid #daa520;
}
