body {
	color: #202020;
	background-color:#ffffff;
}

button:hover {
	cursor: pointer;
	border-color: #f4d258;
	box-shadow: 0px 0px 8px 1px #f4d258;
}

.navigation > button {
	color: #202020;
	background-color: #ffffff;
	border-color: #000000;
	transition: .2s;
}
.navigation > button:hover {
	color: #ffffff;
	background-color: #aaaaaa;
	transition-duration: 0.2s;
}
.navigation > button:active {
	color: #aaaaaa;
	background-color: #ffffff;
}
.navigation > button.navigation--nanite {
	background-color: #0887cc;
	border: 2px solid #020724;
}
.navigation > button.navigation--nanite:hover {
	color: #4848ef;
	background-color: #020724;
}
.navigation > button.navigation--active {
	color: #ffffff;
	background-color: #202020;
}

.subtab > button {
	color: #101010;
	background-color: #efefef;
	border-color: #101010;
}
.subtab > button:hover {
	color: #ffffff;
	background-color: #aaaaaa;
	transition-duration: 0.2s;
}
.subtab > button:active {
	color: #aaaaaa;
	background-color: #ffffff;
	transition-duration: 0.1s;
}
.subtab > button.navigation--active {
	color: #efefef;
	background-color: #101010;
}

.achcomplete {
	background-color: #008000;
	border: 1px solid #004400;
}
.achlocked {
	background-color: #808080;
	border: 1px solid #ff0000;
}

.popup {
	color: #202020;
	background-color: #ffffff;
	border: 3px solid #000000;
	border-radius: 6px;
	align-items: center;
	padding: 10px 10px 15px;
}

.newsbar {
	border: 3px solid #000000;
	border-radius: 4px;
}
.newsbar > div {
	color: #000000;
}

.optionsbtn {
	color: #000000;
	background-color: #fefefe;
	border: 2px solid #181818;
	border-radius: 2px;
}
.optionsbtn:hover {}

.energy {
	color: #000000;
}
.energypersecond {
	color: #303030;
}

.storebtn {
	border-radius: 2px;
}
.storebtn.buy {
	color: #202020;
	background-color: #FFFFFF;
	border: 2px solid #127A20;
}
.storebtn.buy:hover {
	color: #FFFFFF;
	transition-duration: 0.2s;
	background-color: #10c921;
}
.storebtn.locked {
	color: #202020;
	font-size: 12px;
	background-color: #A3A3A3;
	border: 2px solid #e53935;
	border-radius: 2px;
}
.storebtn.locked:hover {}


.reprocessbar {
	background-color: #00FF00;
}
.allocationbtn {
	border: 2px solid #000000;
	background: #FFFFFF;
}
.allocationbar {
	background-color: #34D846;
	border: 4px solid #000000;
	border-radius: 8px;
}
.allocationbarcontents {
	background-color: #B2C376;
	border-radius: 4px;
}

.naniteup {
	border-radius: 4px;
}
.naniteup.buy {
	color: #81a6ff;
	background-color: #FFFFFF;
	border: 1px solid #DAA520;
}
.naniteup.buy:hover {
	color: #2D3B5C;
	background-color: #81A6FF;
	transition-duration: 0.2s;
}
.naniteup.locked {
	color: #303030;
	background-color: #A3A3A3;
	border: 1px solid;
}
.naniteup.bought {
	color: #000000;
	background-color: #81A6FF;
	border: 1px solid green;
}

#meltdown {
	color: #000000;
	background-color: #FFFFFF;
	border: 2px solid green;
	border-radius: 6px;
}
#meltdown:hover {
	color: #000000;
	background-color: green;
	border: 2px solid #000000;
}

.meltdownup {
	border-radius: 3px;
}
.meltdownup.buy {
	color: #FFFFFF;
	background-color: #000000;
	border: 3px solid #DAA520;
}
.meltdownup.buy:hover {
	color: #000000;
	background-color: green;
	border: 2px solid #000000;
	transition-duration: 0.2s;
}
.meltdownup.locked {
	color: #000000;
	background-color: #555555;
	border: 3px solid #FF0000;
}
.meltdownup.bought {
	color: #000000;
	background-color: #44CC66;
	border: 3px solid #DAA520;
}

.isotopedecay {
	color: #000000;
	background-color: #44AA66;
	border: 4px solid #000000;
	border-radius: 8px;
}
