body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	overflow-x: hidden;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
}

button {
	transition: all 0.5s;
}
button:hover {
	cursor: pointer;
}

.flex__col {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex__col.pebblebed {
	max-width: 75%;
	min-width: 75%;
}
.flex__col.turbine {
	max-width: 24px;
	min-width: 24px;
}

.flex__row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.flex__row.fuel > div {
	max-width: 20vw;
	min-width: 20vw;
}
.flex__row.mines > div {
	max-width: 25vw;
	min-width: 25vw;
}
.flex__row.pebblebed {
	max-width: 100%;
	min-width: 100%;
}
.flex__row.pebblebed > div {
	max-height: 100%;
	max-width: 50%;
	min-height: 100%;
	min-width: 50%;
}
.flex__row.reactors > div > button {
	max-height: 40%;
	max-width: 80%;
	min-height: 40%;
	min-width: 80%;
}
.flex__row.turbine {
	max-height: 24px;
	min-height: 24px;
}

.flex__col > *, .flex__row > * {
	flex: 1 0;
	margin: 1px;
}

.flex--center {
	align-items: center;
	justify-content: center;
}

.popup {
	display: flex;
	left: 50%;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 8;
}

.tooltip {
	border: 1px solid #000000;
	display: inline-block;
	position: relative;
}

.tooltip .tooltiptext {
	background-color: #000000;
	color: #FFFFFF;
	data-html: true;
	position: absolute;
	visibility: hidden;
	z-index: 2;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltiptext.achtooltipcomplete {
	bottom: 105%;
	color: #88EE44;
	left: 50%;
	margin-left: -12.5vw;
	padding-top: 5px;
	width: 25vw;
}
.tooltiptext.achtooltiplocked {
	bottom: 105%;
	color: #DE564D;
	left: 50%;
	margin-left: -12.5vw;
	padding-top: 5px;
	width: 25vw;
}
.tooltiptext.turbine {
	bottom: 105%;
	color: #FFFFFF;
	left: 50%;
	margin-left: -60px;
	padding: 5px;
	width: 120px;
}

.info {
	text-align: center;
}

.newsbar {
	height: 20px;
	margin: auto;
	overflow: hidden;
	padding: 2px;
	text-align: left;
	width: 80%;
}
.newsbar > div {
	display: inline-block;
	position: relative;
	white-space: nowrap;
}

.navigationtoggle {
	left: 24px;
	position: absolute;
	top: 24px;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.navigation > button {
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	font-size: 20px;
	height: 40px;
	margin: 2px;
	width: 180px;
}
.navigation.main {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 4;
}

.subtab > button {
	border: 2px solid #000000;
	border-radius: 4px;
	font-size: 16px;
	height: 30px;
	width: 150px;
}

#statistics_tab > .flex__row > div:nth-child(1) {
	padding-right: 2px;
	text-align: right;
}

#achievements_tab {
	align-items: center;
	display: flex;
}
#achievements_tab > div {
	flex: 0 0;
}

.achpic {
	height: 100px;
	opacity: 0.7;
	width: 100px;
	z-index: 1;
}
.achcomplete, .achlocked {
	height: 100px;
	width: 12vw;
}

.optionsbtn {
	font-size: 20px;
	height: 55px;
	width: 200px;
}

.energy {
	font-size: 25px;
}
.energypersecond {
	font-size: 20px;
}


.reprocessbar {
	border-radius: 1px;
	height: 100%;
	width: 0;
}
.allocationbtn {
	max-width: 48px;
	min-height: 48px;
}
.allocationbar {
	height: 48px;
	width: 40vw;
}
.allocationbar.legend {
	height: 20px;
	width: 20vw;
}
.allocationbarcontents {
	height: 100%;
}
.allocationbarcontents.legend {
	height: 20px;
	width: 20vw;
}

.reactorbox.pebblebed {
	background-color: #E5E5E5;
	border: 2px solid #000000;
	max-height: 240px;
	max-width: 30vw;
	min-height: 240px;
	min-width: 30vw;
}

.pebblebedbtn {
	font-size: 10px;
	max-width: 90%;
	min-width: 90%;
}
.pebblebedbtn.buy {
	background-color: #B5B5B5;
	border: 2px solid #8BC152;
	color: #000000;
}
.pebblebedbtn.locked {
	background-color: #515151;
	border: 2px solid #BB210D;
	color: #000000;
}

.fuelbarcontainer {
	align-items: center;
	background-color: black;
	justify-content: center;
	max-height: 36px;
	max-width: 100%;
	min-height: 36px;
	min-width: 100%;
}
.fuelbarcontainer > div {
	background-color: #A5A5A5;
	border: 2px solid yellow;
	margin: 4px;
	max-height: 24px;
	max-width: calc(100% - 12px);
	min-width: calc(100% - 12px);
}
.fuelbarcontainer > div > div {
	background-color: #BB210D;
	height: 24px;
	max-width: 0;
}
.fuelbarcontainer > div > div > div {
	background-color: #8BC152;
	height: 24px;
	max-width: 0;
}

.turbinebox {
	border: 2px solid #050505;
	justify-content: center;
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
}
.turbinebox.selected {
	border: 2px solid #3347EF;
}
.turbinebox.rotorbox {
	border: none;
	max-height: 24px;
	max-width: 24px;
	min-height: 24px;
	min-width: 24px;
}

.turbinecasing {
	background-color: #184236;
}
.turbinecasing.coil {
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
}

.turbineshaft {
	background-color: #A8B1DD;
}
.turbineshaft:hover {
	border-color: #FFBB77;
	box-shadow: 0 0 5px 1px #FFBB77;
}

.turbinerotor {
	height: 20px;
	max-width: 6px;
	z-index: 1;
}
.turbinerotor.horizontal {
	height: 24px;
	max-width: 9px;
}
.turbinerotor.top {
	height: 18px;
	margin-top: 6px;
}
.turbinerotor.bottom {
	height: 18px;
	margin-bottom: 6px;
}
.turbinerotor.selection {
	height: 16px;
	margin-left: 7px;
	margin-top: 2px;
}

.turbinerotor.steel {
	background-color: #7A7F80;
}
.turbinerotor.titanium {
	background-color: #775D88;
}
.turbinerotor.osmiridium {
	background-color: #3942B3;
}
.turbinerotor.extreme {
	background-color: #993344;
}
.turbinerotor.sicsiccmc {
	background-color: #946241;
}

.turbinecoil {
	border: 2px solid #A8A8A8;
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
}
.turbinecoil.active {
	border: 2px solid #51B863;
}
.turbinecoil.inactive {
	border: 2px solid #B86351;
}
.turbinecoil.selected {
	border: 2px solid #3347EF;
}
.turbinecoil.none {
	background-color: #184236;
}
.turbinecoil.bearing {
	background-color: #A8B1DD;
}
.turbinecoil.connector {
	background-color: #555753;
}
.turbinecoil.magnesium {
	background-color: #B893D5;
}
.turbinecoil.beryllium {
	background-color: #8B8187;
}
.turbinecoil.lithium {
	background-color: #AAAAAA;
}
.turbinecoil.aluminium {
	background-color: #333333;
}
.turbinecoil.gold {
	background-color: #DDC066;
}
.turbinecoil.copper {
	background-color: #B87333;
}
.turbinecoil.silver {
	background-color: #C0C0C0;
}
.turbinecoil:hover {
	border-color: #FFBB77;
	box-shadow: 0 0 5px 1px #FFBB77;
}

.storebtn {
	font-size: 12px;
}
.storebtn.pebblebed {
	max-width: 80%;
	min-width: 80%;
}
.storebtn.pebblebed.buysingle {
	max-height: 40px;
	max-width: 60%;
	min-height: 40px;

	min-width: 60%;
}
.storebtn.pebblebed.buymax {
	max-height: 40px;
	max-width: 30%;
	min-height: 40px;
	min-width: 30%;
}

.naniteup {
	font-size: 15px;
	height: 150px;
	width: 300px;
}

#meltdown {
	font-size: 10px;
	height: 70px;
	width: 210px;
}
.meltdownup {
	height: 150px;
	min-width: 120px;
	width: 25%;
}

.isotopedecay {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	position: absolute;
	transform: translateX(-50%);
	width: 240px;
}

.discord {
	bottom: 0;
	position: fixed;
}
.discordlink {
	position: relative;
}

#cheats_tab > .flex__row {
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
#cheats_tab > .flex__row > button {
	flex: 0 0 200px;
	height: 40px;
	margin: 2px;
}
