body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	overflow-x: hidden;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
}

button {
	transition: all 0.5s;
}
button:hover {
	cursor: pointer;
}

.flex-col {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.flex-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-col.horizontal-center, .flex-row.vertical-center {
	align-items: center;
}
.flex-col.vertical-center, .flex-row.horizontal-center {
	justify-content: center;
}
.flex-col.horizontal-left, .flex-row.vertical-top {
	align-items: flex-start;
}
.flex-col.vertical-top, .flex-row.horizontal-left {
	justify-content: flex-start;
}
.flex-col.horizontal-right, .flex-row.vertical-bottom {
	align-items: flex-end;
}
.flex-col.vertical-bottom, .flex-row.horizontal-right {
	justify-content: flex-end;
}

.flex-col > *, .flex-row > * {
	flex: 1 0;
}

.popup {
	display: flex;
	left: 50%;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 8;
}

.tooltip {
	border: 1px solid #000000;
	display: inline-block;
	position: relative;
}

.tooltip .tooltiptext {
	background-color: #000000;
	color: #FFFFFF;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	visibility: hidden;
	z-index: 2;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.achcomplete > .tooltiptext {
	bottom: 105%;
	color: #88EE44;
	left: 50%;
	margin-left: -12.5vw;
	padding-top: 5px;
	width: 25vw;
}
.achlocked > .tooltiptext {
	bottom: 105%;
	color: #DE564D;
	left: 50%;
	margin-left: -12.5vw;
	padding-top: 5px;
	width: 25vw;
}
.tooltiptext.turbine {
	bottom: 105%;
	color: #FFFFFF;
	left: 50%;
	margin-left: -60px;
	padding: 5px;
	width: 120px;
}

.info {
	text-align: center;
}

.newsbar {
	height: 20px;
	margin: auto;
	overflow: hidden;
	padding: 2px;
	text-align: left;
	width: 80%;
}
.newsbar > div {
	display: inline-block;
	position: relative;
	white-space: nowrap;
}

.navigationtoggle {
	left: 24px;
	position: absolute;
	top: 24px;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.navigation > button {
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	font-size: 20px;
	height: 40px;
	margin: 2px;
	width: 180px;
}
.navigation.main {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 4;
}

.subtab > button {
	border: 2px solid #000000;
	border-radius: 4px;
	font-size: 16px;
	height: 30px;
	width: 150px;
}

#statistics_tab > .flex-row > div:nth-child(1) {
	padding-right: 2px;
	text-align: right;
}

#achievements_tab {
	align-items: center;
	display: flex;
}
#achievements_tab > div {
	flex: 0 0;
}

.energy {
	font-size: 25px;
}
.energypersecond {
	font-size: 20px;
}

.storebtn {
	font-size: 12px;
}

.allocationbtn {
	max-width: 48px;
	min-height: 48px;
}
.allocationbar {
	height: 48px;
	width: 40vw;
}
.allocationbar.legend {
	height: 20px;
	width: 20vw;
}
.allocationbarcontents {
	height: 100%;
}
.allocationbarcontents.legend {
	height: 20px;
	width: 20vw;
}

.minesdiv {
	max-width: 70vw;
	min-width: 70px;
}

.minesdiv > div > .info {
	font-size: 120%;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
}
.minesdiv > div > .body {
	font-size: 120%;
	padding-left: 12px;
	padding-right: 12px;
}

.minesdiv > .actions {
	margin-bottom: 12px;
	margin-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
}

.trisodiv, .pebblebeddiv {
	max-width: 30vw;
	min-width: 30vw;
}

.trisodiv > .title, .pebblebeddiv > .title {
	font-size:120%;
	text-align: center;
}

.trisodiv > .title > .type, .pebblebeddiv > .title > .type {
	max-width: 90%;
}
.trisodiv > .title > .info, .pebblebeddiv > .title > .info {
	max-width: 10%;
}

.trisodiv > .body, .pebblebeddiv > .body {
	margin-left: 12px;
	margin-right: 12px;
}

.trisodiv > .body > .fuelinfo, .pebblebeddiv > .body > .info {
	align-items: flex-start;
	font-size: 120%;
	max-width: 50%;
	min-width: 50%;
	text-align: left;
}
.trisodiv > .body > .reprocess, .pebblebeddiv > .body > .fuelhandling {
	font-size: 120%;
	justify-content: flex-start;
	max-height: 80%;
	max-width: 50%;
	min-height: 80%;
	min-width: 50%;
}

.trisodiv > .body > .reprocess > button {
	padding: 0;
	position: relative;
}
.trisodiv > .body > .reprocess > button > div {
	border-radius: 1px;
	height: 100%;
	width: 0;
}

.trisodiv > .fuelbar {
	height: 20%;
	margin-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
}
.pebblebeddiv > .fuelbar {
	height: 20%;
	margin-left: 12px;
	margin-right: 12px;
}
.trisodiv > .fuelbar > div > div, .pebblebeddiv > .fuelbar > div > div {
	align-items: center;
	justify-content: center;
	max-height: 36px;
	max-width: 100%;
	min-height: 36px;
	min-width: 100%;
}
.trisodiv > .fuelbar > div > div > div, .pebblebeddiv > .fuelbar > div > div > div {
	margin: 4px;
	max-height: 28px;
	max-width: calc(100% - 8px);
	min-height: 28px;
	min-width: calc(100% - 8px);
}
.trisodiv > .fuelbar > div > div > div > div, .pebblebeddiv > .fuelbar > div > div > div > div {
	height: 28px;
	max-width: 0;
}
.trisodiv > .fuelbar > div > div > div > div > div, .pebblebeddiv > .fuelbar > div > div > div > div > div {
	height: 28px;
	max-width: 0;
}

.pebblebeddiv > .buying {
	margin-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px
}

.pebblebeddiv > .buying > .buysingle {
	max-width: 60%;
	min-width: 60%;
}
.pebblebeddiv > .buying > .buymax {
	max-width: 30%;
	min-width: 30%;
}

.trisobtn, .pebblebedbtn {
	max-width: 90%;
	min-width: 90%;
}

.turbinebox {
	border: 2px solid #050505;
	justify-content: center;
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
}
.turbinebox.selected {
	border: 2px solid #3347EF;
}
.turbinebox.rotorbox {
	border: none;
	max-height: 24px;
	max-width: 24px;
	min-height: 24px;
	min-width: 24px;
}

.turbinecasing {
	background-color: #184236;
}
.turbinecasing.coil {
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
}

.turbineshaft {
	background-color: #A8B1DD;
}
.turbineshaft:hover {
	border-color: #FFBB77;
	box-shadow: 0 0 5px 1px #FFBB77;
}

.turbinerotor {
	height: 20px;
	max-width: 6px;
	z-index: 1;
}
.turbinerotor.horizontal {
	height: 24px;
	max-width: 9px;
}
.turbinerotor.top {
	height: 18px;
	margin-top: 6px;
}
.turbinerotor.bottom {
	height: 18px;
	margin-bottom: 6px;
}
.turbinerotor.selection {
	height: 16px;
	margin-left: 7px;
	margin-top: 2px;
}

.turbinerotor.steel {
	background-color: #7A7F80;
}
.turbinerotor.titanium {
	background-color: #775D88;
}
.turbinerotor.osmiridium {
	background-color: #3942B3;
}
.turbinerotor.extreme {
	background-color: #993344;
}
.turbinerotor.sicsiccmc {
	background-color: #946241;
}

.turbinecoil {
	border: 2px solid #A8A8A8;
	max-height: 20px;
	max-width: 20px;
	min-height: 20px;
	min-width: 20px;
}
.turbinecoil.active {
	border: 2px solid #51B863;
}
.turbinecoil.inactive {
	border: 2px solid #B86351;
}
.turbinecoil.selected {
	border: 2px solid #3347EF;
}
.turbinecoil.none {
	background-color: #184236;
}
.turbinecoil.bearing {
	background-color: #A8B1DD;
}
.turbinecoil.connector {
	background-color: #555753;
}
.turbinecoil.magnesium {
	background-color: #B893D5;
}
.turbinecoil.beryllium {
	background-color: #8B8187;
}
.turbinecoil.lithium {
	background-color: #AAAAAA;
}
.turbinecoil.aluminium {
	background-color: #333333;
}
.turbinecoil.gold {
	background-color: #DDC066;
}
.turbinecoil.copper {
	background-color: #B87333;
}
.turbinecoil.silver {
	background-color: #C0C0C0;
}
.turbinecoil:hover {
	border-color: #FFBB77;
	box-shadow: 0 0 5px 1px #FFBB77;
}

.achpic {
	height: 100px;
	opacity: 0.7;
	width: 100px;
	z-index: 1;
}
.achcomplete, .achlocked {
	height: 100px;
	width: 12vw;
}

.options > div > button {
	font-size: 20px;
	height: 55px;
	width: 200px;
}

.prestigebtn {
	min-height: 80px;
	width: 150px;
}

.naniteup {
	font-size: 15px;
	height: 150px;
	width: 300px;
}

#meltdown {
	font-size: 10px;
	height: 70px;
	width: 210px;
}
.meltdownup {
	height: 150px;
	min-width: 120px;
	width: 25%;
}

.isotopedecay {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	position: absolute;
	transform: translateX(-50%);
	width: 240px;
}

.discord {
	bottom: 0;
	position: fixed;
}
.discordlink {
	position: relative;
}

#cheats_tab > .flex-row {
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
#cheats_tab > .flex-row > button {
	flex: 0 0 200px;
	height: 40px;
	margin: 2px;
}
