body {
	overflow-x: hidden;
}
table {
	width: 100vw;
	margin: 0;
	padding: 0;
}

.achpic {
	width: 100px;
	height: 100px;
	opacity: 0.7;
}
.achcomplete {
	width: 100px;
	height: 100px;
}
.achlocked {
	width: 100px;
	height: 100px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	text-align: center;
	z-index: 2;
	transform: translateX(-50%) translateY(-50%);
}
#newsb {
	width: 80%;
	height: 20px;
	text-align: left;
	margin: auto;
	padding: 2px;
	overflow: hidden;
}
#news {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}